@page "/mockinterview"

@using Microsoft.AspNetCore.Components.Forms
@using System.Threading.Tasks
@using Hackathon_VAIT_New.Services
@using Hackathon_VAIT_New.Model

@inject FirebaseStorageServices firebaseStorageService
@inject IJSRuntime jsRuntime

<h3>Find mock interview peer</h3>

